---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="docs-to-blog">
  <h1>docs-to-blog</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.slug}`}>{post.data.title}</a>
          <time datetime={post.data.date.toISOString()}>
            {post.data.date.toISOString().slice(0, 10)}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>
